*{
    user-select: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 16px;
    overflow: hidden;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    top: 0;
    left: 0;
}
header h1{
    font-size: 1.3rem;
}
header nav {
    padding: 1rem;
    height: 10%;
    width: 100%;
    background-color: rgb(1, 48, 1);
    display: flex;

    align-content: center;
    align-items: center;
    flex-direction: row;
}

button{
    background-color: rgb(3, 138, 3);
    padding: 0.5rem;
    margin-left: 1rem;
}

nav section{
    width: fit-content;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main{
   display: flex;
   height: 100%;
   background-image: url(../Resources/background.jpg);
   background-size: cover;

   align-items: center;
   justify-content: center;
}
