*{
    user-select: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 16px;
    overflow: hidden;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    top: 0;
    left: 0;
}
header h1{
    font-size: 1.5rem;
}
header nav {
    padding: 1rem;
    height: 10%;
    width: 100%;
    background-color: rgb(1, 48, 1);
    display: flex;

    align-content: center;
    align-items: center;
    flex-direction: row;
}

button{
    background-color: rgb(3, 138, 3);
    width: fit-content;
    padding: 0.5rem;
    margin-left: 1rem;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav section{
    width: fit-content;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main{
   display: flex;
   height: 100%;
   background-image: url(../Resources/background.jpg);
   background-size: cover;

   align-items: center;
   justify-content: center;
}

/*----------JSCREATIONS----------*/

.newMenu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 20%;
    background-color: darkolivegreen;
    border: 3px, solid, black;
    box-shadow:
    5px 4px 0px rgb(1, 48, 1);
    z-index: 9999;

    padding: 1rem;
}

.newMenu h1{
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 1.3rem;
}

.menuTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 3rem;
    align-self: center;
    justify-content: space-between;
    
}

.menuTop button{
    height: 2rem;
    width: 2rem;
}

/*----------GAME----------*/
canvas {
      background: #222;
      border-radius: 50%; /* makes canvas appear circular */
      display: block;
    }